html, body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  height: 60px;
  padding: 0 190px;
  min-width: 1440px;
}
.header .header__logo {
  background-image: url(../Images/logo.svg);
  height: 30.5px;
  width: 140.73px;
}
.header .header__nav {
  margin-left: 92.7px;
}
.header .header__nav a {
  color: #202840;
  font-weight: 500;
  height: 19px;
  line-height: 19px;
  text-transform: capitalize;
}
.header .header__nav a:hover {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.header .header__nav .header__nav__home {
  margin-right: 39px;
  width: 43px;
}
.header .header__nav .header__nav__shoes {
  margin-right: 38px;
  width: 45px;
}
.header .header__nav .header__nav__tshirts {
  margin-right: 36px;
  width: 56px;
}
.header .header__nav .header__nav__accesories {
  width: 80px;
}
.header .button--header-register {
  background-color: transparent;
  border: 2px solid #DEDEDE;
  color: #202840;
  margin-left: auto;
  margin-right: 9px;
}
.header .button--header-login {
  background-color: #202840;
  color: white;
}

.main {
  display: flex;
  height: calc(100% - 60px);
  min-width: 1440px;
  padding: 0 190px;
}
.main .main__left {
  margin-right: 22px;
  width: 355px;
  height: 100%;
}
.main .main__left .main__left__slogan {
  color: #202840;
  font-size: 62px;
  font-weight: bold;
  height: 146px;
  line-height: 73px;
  margin-top: 140px;
  text-align: left;
  width: 100%;
}
.main .main__left .main__left__nav {
  display: flex;
  flex-direction: column;
  height: 168px;
  margin-top: 62px;
  position: relative;
}
.main .main__left .main__left__nav div {
  height: 100%;
  position: absolute;
  width: 4px;
}
.main .main__left .main__left__nav div i {
  background-color: #EB6763;
  height: 28px;
  position: absolute;
  top: 14px;
  transition: top 300ms, background-color 300ms;
  width: 4px;
}
.main .main__left .main__left__nav a {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  line-height: 56px;
  transition: margin-left 300ms;
}
.main .main__right {
  height: 100%;
  position: relative;
  width: 683px;
}
.main .main__right .main__right__background {
  background-color: rgba(235, 103, 99, 0.2);
  height: 402px;
  left: 168px;
  position: absolute;
  top: 129px;
  transition: background-color 300ms;
  width: 408px;
}
.main .main__right .main__right__info {
  color: #202840;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 321px;
  width: 300px;
}
.main .main__right .main__right__info h3 {
  font-size: 42px;
  height: 49px;
  line-height: 49px;
  margin-bottom: 15px;
  width: 299px;
}
.main .main__right .main__right__info p {
  line-height: 24px;
  margin-bottom: 27px;
}
.main .main__right .main__right__info .button {
  background-color: #EB6763;
  color: white;
  transition: background-color 300ms;
}

.image-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 500px;
  z-index: 1;
}
.image-container > i {
  left: 0;
  position: absolute;
  top: -500px;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  height: 500px;
  width: 500px;
}
.image-container .image-container__nike {
  background-image: url("../../Images/1.png");
}
.image-container .image-container__shoes {
  background-image: url("../../Images/2.png");
}
.image-container .image-container__sport {
  background-image: url("../../Images/3.png");
}

.slide-from-top {
  animation-name: fromTopSlide;
  animation-duration: 300ms;
  animation-timing-fnction: ease-out;
  animation-fill-mode: forwards;
}

.slide-from-bottom {
  animation-name: fromBottomSlide;
  animation-duration: 300ms;
  animation-timing-fnction: ease-out;
  animation-fill-mode: forwards;
}

.slide-to-top {
  animation-name: toTopSlide;
  animation-duration: 300ms;
  animation-timing-fnction: ease-out;
  animation-fill-mode: forwards;
}

.slide-to-bottom {
  animation-name: toBottomSlide;
  animation-duration: 300ms;
  animation-timing-fnction: ease-out;
  animation-fill-mode: forwards;
}

@keyframes fromTopSlide {
  from {
    opacity: 0;
    top: -500px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@keyframes fromBottomSlide {
  from {
    opacity: 0;
    top: 500px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@keyframes toTopSlide {
  from {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 0;
    top: -500px;
  }
}
@keyframes toBottomSlide {
  from {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 0;
    top: 500px;
  }
}
.button {
  border: none;
  border-radius: 2px;
  height: 40px;
  cursor: pointer;
  outline: none;
  text-transform: capitalize;
  width: 123px;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
}

/*# sourceMappingURL=css.css.map */
