// COLORS
$background-pink: rgba(235,103,99,0.2);
$background-grey: rgba(61,76,93,0.2);
$background-yellow: rgba(255,172,26,0.2);
$border-grey: #DEDEDE;
$dark: #202840;
$grey: #3D4C5D;
$pink: #EB6763;
$shadow-1: rgba(0,0,0,0.1);
$shadow-3: rgba(0,0,0,0.3);
$shadow-5: rgba(0,0,0,0.5);
$yellow: #FFAC1A;