.header {
	align-items: center;
	box-shadow: 0 2px 4px 0 $shadow-1;
	cursor: pointer;
	display: flex;
	height: 60px;
	padding: 0 $global-padding;
	min-width: 1440px;
	.header__container {
	    align-items: center;
	    display: flex;
	    height: 100%;
	    justify-content: center;
	    margin: auto;
	    width: 1060px;
	    .header__container__nav {
	    	align-items: center;
	    	display: flex;
	    	width: 100%;
			div {
				margin-left: auto;
			}
	    }
	}
	.button--header-register {
		background-color: transparent;
		border: 2px solid $border-grey;
		color: $dark;
		margin-left: auto;
		margin-right: 9px; 
	}
	.button--header-login {
		background-color: $dark;
		color: white;
	}
}

.header-logo {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTQxcHgi%0D%0AIGhlaWdodD0iMzFweCIgdmlld0JveD0iMCAwIDE0MSAzMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0i%0D%0AaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9y%0D%0AZy8xOTk5L3hsaW5rIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBza2V0Y2h0b29sIDUyLjEgKDY3MDQ4%0D%0AKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5D%0D%0ANjIyRkYwQi03Q0Y5LTQwRjQtOTAxMi0xMERGMEYzOTc0MjE8L3RpdGxlPgogICAgPGRlc2M+Q3Jl%0D%0AYXRlZCB3aXRoIHNrZXRjaHRvb2wuPC9kZXNjPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJu%0D%0Ab25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAg%0D%0AICAgICAgPGcgaWQ9IjEtbW9iaWxlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjAuMDAwMDAwLCAt%0D%0AMTUuMDAwMDAwKSIgZmlsbD0iIzIwMjg0MCI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0zMi43NSwz%0D%0AMy4wMzEyNSBDMzIuNzUsMzIuMTQ1ODI4OSAzMi40Mzc1MDMxLDMxLjQ2NjE0ODIgMzEuODEyNSwz%0D%0AMC45OTIxODc1IEMzMS4xODc0OTY5LDMwLjUxODIyNjggMzAuMDYyNTA4MSwzMC4wMTgyMzE4IDI4%0D%0ALjQzNzUsMjkuNDkyMTg3NSBDMjYuODEyNDkxOSwyOC45NjYxNDMyIDI1LjUyNjA0NjQsMjguNDQ3%0D%0AOTE5MiAyNC41NzgxMjUsMjcuOTM3NSBDMjEuOTk0Nzc4NywyNi41NDE2NTk3IDIwLjcwMzEyNSwy%0D%0ANC42NjE0NzAyIDIwLjcwMzEyNSwyMi4yOTY4NzUgQzIwLjcwMzEyNSwyMS4wNjc3MDIyIDIxLjA0%0D%0AOTQ3NTcsMTkuOTcxMzU5IDIxLjc0MjE4NzUsMTkuMDA3ODEyNSBDMjIuNDM0ODk5MywxOC4wNDQy%0D%0ANjYgMjMuNDI5NjgxLDE3LjI5MTY2OTQgMjQuNzI2NTYyNSwxNi43NSBDMjYuMDIzNDQ0LDE2LjIw%0D%0AODMzMDYgMjcuNDc5MTU4NiwxNS45Mzc1IDI5LjA5Mzc1LDE1LjkzNzUgQzMwLjcxODc1ODEsMTUu%0D%0AOTM3NSAzMi4xNjY2NjAzLDE2LjIzMTc2NzkgMzMuNDM3NSwxNi44MjAzMTI1IEMzNC43MDgzMzk3%0D%0ALDE3LjQwODg1NzEgMzUuNjk1MzA5LDE4LjIzOTU3OCAzNi4zOTg0Mzc1LDE5LjMxMjUgQzM3LjEw%0D%0AMTU2NiwyMC4zODU0MjIgMzcuNDUzMTI1LDIxLjYwNDE1OTggMzcuNDUzMTI1LDIyLjk2ODc1IEwz%0D%0AMi43NjU2MjUsMjIuOTY4NzUgQzMyLjc2NTYyNSwyMS45MjcwNzgxIDMyLjQzNzUwMzMsMjEuMTE3%0D%0AMTkwNCAzMS43ODEyNSwyMC41MzkwNjI1IEMzMS4xMjQ5OTY3LDE5Ljk2MDkzNDYgMzAuMjAzMTMw%0D%0AOSwxOS42NzE4NzUgMjkuMDE1NjI1LDE5LjY3MTg3NSBDMjcuODY5Nzg1OSwxOS42NzE4NzUgMjYu%0D%0AOTc5MTY5OCwxOS45MTQwNjAxIDI2LjM0Mzc1LDIwLjM5ODQzNzUgQzI1LjcwODMzMDIsMjAuODgy%0D%0AODE0OSAyNS4zOTA2MjUsMjEuNTIwODI5NCAyNS4zOTA2MjUsMjIuMzEyNSBDMjUuMzkwNjI1LDIz%0D%0ALjA1MjA4NyAyNS43NjMwMTcxLDIzLjY3MTg3MjUgMjYuNTA3ODEyNSwyNC4xNzE4NzUgQzI3LjI1%0D%0AMjYwNzksMjQuNjcxODc3NSAyOC4zNDg5NTExLDI1LjE0MDYyMjggMjkuNzk2ODc1LDI1LjU3ODEy%0D%0ANSBDMzIuNDYzNTU1LDI2LjM4MDIxMjMgMzQuNDA2MjQzOSwyNy4zNzQ5OTQxIDM1LjYyNSwyOC41%0D%0ANjI1IEMzNi44NDM3NTYxLDI5Ljc1MDAwNTkgMzcuNDUzMTI1LDMxLjIyOTE1NzggMzcuNDUzMTI1%0D%0ALDMzIEMzNy40NTMxMjUsMzQuOTY4NzU5OCAzNi43MDgzNDA4LDM2LjUxMzAxNTIgMzUuMjE4NzUs%0D%0AMzcuNjMyODEyNSBDMzMuNzI5MTU5MiwzOC43NTI2MDk4IDMxLjcyMzk3MDksMzkuMzEyNSAyOS4y%0D%0AMDMxMjUsMzkuMzEyNSBDMjcuNDUzMTE2MiwzOS4zMTI1IDI1Ljg1OTM4MjIsMzguOTkyMTkwNyAy%0D%0ANC40MjE4NzUsMzguMzUxNTYyNSBDMjIuOTg0MzY3OCwzNy43MTA5MzQzIDIxLjg4ODAyNDYsMzYu%0D%0AODMzMzM4OSAyMS4xMzI4MTI1LDM1LjcxODc1IEMyMC4zNzc2MDA0LDM0LjYwNDE2MTEgMjAsMzMu%0D%0AMzEyNTA3MyAyMCwzMS44NDM3NSBMMjQuNzAzMTI1LDMxLjg0Mzc1IEMyNC43MDMxMjUsMzQuMzU0%0D%0AMTc5MiAyNi4yMDMxMSwzNS42MDkzNzUgMjkuMjAzMTI1LDM1LjYwOTM3NSBDMzAuMzE3NzEzOSwz%0D%0ANS42MDkzNzUgMzEuMTg3NDk2OSwzNS4zODI4MTQ4IDMxLjgxMjUsMzQuOTI5Njg3NSBDMzIuNDM3%0D%0ANTAzMSwzNC40NzY1NjAyIDMyLjc1LDMzLjg0Mzc1NDEgMzIuNzUsMzMuMDMxMjUgWiBNNDQuNzM0%0D%0AMzc1LDIzLjkzNzUgQzQ1LjkzMjI5NzcsMjIuNDk5OTkyOCA0Ny40Mzc0OTA5LDIxLjc4MTI1IDQ5%0D%0ALjI1LDIxLjc4MTI1IEM1Mi45MTY2ODUsMjEuNzgxMjUgNTQuNzc2MDQxNCwyMy45MTE0MzcgNTQu%0D%0AODI4MTI1LDI4LjE3MTg3NSBMNTQuODI4MTI1LDM5IEw1MC4zMTI1LDM5IEw1MC4zMTI1LDI4LjI5%0D%0ANjg3NSBDNTAuMzEyNSwyNy4zMjgxMjAyIDUwLjEwNDE2ODcsMjYuNjExOTgxNSA0OS42ODc1LDI2%0D%0ALjE0ODQzNzUgQzQ5LjI3MDgzMTMsMjUuNjg0ODkzNSA0OC41NzgxMjk4LDI1LjQ1MzEyNSA0Ny42%0D%0AMDkzNzUsMjUuNDUzMTI1IEM0Ni4yODY0NTE3LDI1LjQ1MzEyNSA0NS4zMjgxMjgsMjUuOTYzNTM2%0D%0ANiA0NC43MzQzNzUsMjYuOTg0Mzc1IEw0NC43MzQzNzUsMzkgTDQwLjIxODc1LDM5IEw0MC4yMTg3%0D%0ANSwxNSBMNDQuNzM0Mzc1LDE1IEw0NC43MzQzNzUsMjMuOTM3NSBaIE01Ny41MzEyNSwzMC4zOTA2%0D%0AMjUgQzU3LjUzMTI1LDI4LjcxMzUzMzMgNTcuODU0MTYzNCwyNy4yMTg3NTY2IDU4LjUsMjUuOTA2%0D%0AMjUgQzU5LjE0NTgzNjYsMjQuNTkzNzQzNCA2MC4wNzU1MTQ4LDIzLjU3ODEyODYgNjEuMjg5MDYy%0D%0ANSwyMi44NTkzNzUgQzYyLjUwMjYxMDIsMjIuMTQwNjIxNCA2My45MTE0NTAzLDIxLjc4MTI1IDY1%0D%0ALjUxNTYyNSwyMS43ODEyNSBDNjcuNzk2ODg2NCwyMS43ODEyNSA2OS42NTg4NDcsMjIuNDc5MTU5%0D%0ANyA3MS4xMDE1NjI1LDIzLjg3NSBDNzIuNTQ0Mjc4LDI1LjI3MDg0MDMgNzMuMzQ4OTU3NSwyNy4x%0D%0ANjY2NTQ3IDczLjUxNTYyNSwyOS41NjI1IEw3My41NDY4NzUsMzAuNzE4NzUgQzczLjU0Njg3NSwz%0D%0AMy4zMTI1MTMgNzIuODIyOTIzOSwzNS4zOTMyMjEzIDcxLjM3NSwzNi45NjA5Mzc1IEM2OS45Mjcw%0D%0ANzYxLDM4LjUyODY1MzcgNjcuOTg0Mzg3MiwzOS4zMTI1IDY1LjU0Njg3NSwzOS4zMTI1IEM2My4x%0D%0AMDkzNjI4LDM5LjMxMjUgNjEuMTY0MDY5OCwzOC41MzEyNTc4IDU5LjcxMDkzNzUsMzYuOTY4NzUg%0D%0AQzU4LjI1NzgwNTIsMzUuNDA2MjQyMiA1Ny41MzEyNSwzMy4yODEyNjM0IDU3LjUzMTI1LDMwLjU5%0D%0AMzc1IEw1Ny41MzEyNSwzMC4zOTA2MjUgWiBNNjIuMDQ2ODc1LDMwLjcxODc1IEM2Mi4wNDY4NzUs%0D%0AMzIuMzIyOTI0NyA2Mi4zNDg5NTUzLDMzLjU0OTQ3NDkgNjIuOTUzMTI1LDM0LjM5ODQzNzUgQzYz%0D%0ALjU1NzI5NDcsMzUuMjQ3NDAwMSA2NC40MjE4Njk0LDM1LjY3MTg3NSA2NS41NDY4NzUsMzUuNjcx%0D%0AODc1IEM2Ni42NDA2MzA1LDM1LjY3MTg3NSA2Ny40OTQ3ODg2LDM1LjI1MjYwODQgNjguMTA5Mzc1%0D%0ALDM0LjQxNDA2MjUgQzY4LjcyMzk2MTQsMzMuNTc1NTE2NiA2OS4wMzEyNSwzMi4yMzQzODQyIDY5%0D%0ALjAzMTI1LDMwLjM5MDYyNSBDNjkuMDMxMjUsMjguODE3NzAwNSA2OC43MjM5NjE0LDI3LjU5ODk2%0D%0AMjcgNjguMTA5Mzc1LDI2LjczNDM3NSBDNjcuNDk0Nzg4NiwyNS44Njk3ODczIDY2LjYzMDIxMzks%0D%0AMjUuNDM3NSA2NS41MTU2MjUsMjUuNDM3NSBDNjQuNDExNDUyOCwyNS40Mzc1IDYzLjU1NzI5NDcs%0D%0AMjUuODY3MTgzMiA2Mi45NTMxMjUsMjYuNzI2NTYyNSBDNjIuMzQ4OTU1MywyNy41ODU5NDE4IDYy%0D%0ALjA0Njg3NSwyOC45MTY2NTc3IDYyLjA0Njg3NSwzMC43MTg3NSBaIE04NC4xMDkzNzUsMzkuMzEy%0D%0ANSBDODEuNjMwMTk1OSwzOS4zMTI1IDc5LjYxMTk4NywzOC41NTIwOTA5IDc4LjA1NDY4NzUsMzcu%0D%0AMDMxMjUgQzc2LjQ5NzM4OCwzNS41MTA0MDkxIDc1LjcxODc1LDMzLjQ4NDM4NzcgNzUuNzE4NzUs%0D%0AMzAuOTUzMTI1IEw3NS43MTg3NSwzMC41MTU2MjUgQzc1LjcxODc1LDI4LjgxNzY5OTggNzYuMDQ2%0D%0AODcxNywyNy4yOTk0ODU5IDc2LjcwMzEyNSwyNS45NjA5Mzc1IEM3Ny4zNTkzNzgzLDI0LjYyMjM4%0D%0AOTEgNzguMjg5MDU2NSwyMy41OTExNDk1IDc5LjQ5MjE4NzUsMjIuODY3MTg3NSBDODAuNjk1MzE4%0D%0ANSwyMi4xNDMyMjU1IDgyLjA2NzcwMDYsMjEuNzgxMjUgODMuNjA5Mzc1LDIxLjc4MTI1IEM4NS45%0D%0AMjE4ODY2LDIxLjc4MTI1IDg3Ljc0MjE4MDksMjIuNTEwNDA5NCA4OS4wNzAzMTI1LDIzLjk2ODc1%0D%0AIEM5MC4zOTg0NDQxLDI1LjQyNzA5MDYgOTEuMDYyNSwyNy40OTQ3NzgzIDkxLjA2MjUsMzAuMTcx%0D%0AODc1IEw5MS4wNjI1LDMyLjAxNTYyNSBMODAuMjk2ODc1LDMyLjAxNTYyNSBDODAuNDQyNzA5MSwz%0D%0AMy4xMTk3OTcyIDgwLjg4MjgwODgsMzQuMDA1MjA1IDgxLjYxNzE4NzUsMzQuNjcxODc1IEM4Mi4z%0D%0ANTE1NjYyLDM1LjMzODU0NSA4My4yODEyNDQ0LDM1LjY3MTg3NSA4NC40MDYyNSwzNS42NzE4NzUg%0D%0AQzg2LjE0NTg0MiwzNS42NzE4NzUgODcuNTA1MjAzNCwzNS4wNDE2NzMgODguNDg0Mzc1LDMzLjc4%0D%0AMTI1IEw5MC43MDMxMjUsMzYuMjY1NjI1IEM5MC4wMjYwMzgzLDM3LjIyMzk2MzEgODkuMTA5Mzgw%0D%0AOCwzNy45NzEzNTE1IDg3Ljk1MzEyNSwzOC41MDc4MTI1IEM4Ni43OTY4NjkyLDM5LjA0NDI3MzUg%0D%0AODUuNTE1NjMyLDM5LjMxMjUgODQuMTA5Mzc1LDM5LjMxMjUgWiBNODMuNTkzNzUsMjUuNDM3NSBD%0D%0AODIuNjk3OTEyMiwyNS40Mzc1IDgxLjk3MTM1NywyNS43Mzk1ODAzIDgxLjQxNDA2MjUsMjYuMzQz%0D%0ANzUgQzgwLjg1Njc2OCwyNi45NDc5MTk3IDgwLjUwMDAwMDgsMjcuODEyNDk0NCA4MC4zNDM3NSwy%0D%0AOC45Mzc1IEw4Ni42MjUsMjguOTM3NSBMODYuNjI1LDI4LjU3ODEyNSBDODYuNjA0MTY2NiwyNy41%0D%0ANzgxMiA4Ni4zMzMzMzU5LDI2LjgwNDY5MDIgODUuODEyNSwyNi4yNTc4MTI1IEM4NS4yOTE2NjQx%0D%0ALDI1LjcxMDkzNDggODQuNTUyMDg4MSwyNS40Mzc1IDgzLjU5Mzc1LDI1LjQzNzUgWiBNMTAzLjky%0D%0AMTg3NSwzNC41MTU2MjUgQzEwMy45MjE4NzUsMzMuNzM0MzcxMSAxMDMuNjI3NjA3LDMzLjEyNzYw%0D%0ANjMgMTAzLjAzOTA2MiwzMi42OTUzMTI1IEMxMDIuNDUwNTE4LDMyLjI2MzAxODcgMTAxLjQyNDQ4%0D%0ANiwzMS44OTA2MjY2IDk5Ljk2MDkzNzUsMzEuNTc4MTI1IEM5OC40OTczODg1LDMxLjI2NTYyMzQg%0D%0AOTcuMzM1OTQxOCwzMC44OTA2MjcyIDk2LjQ3NjU2MjUsMzAuNDUzMTI1IEM5NS42MTcxODMyLDMw%0D%0ALjAxNTYyMjggOTQuOTgxNzcyOSwyOS40OTQ3OTQ3IDk0LjU3MDMxMjUsMjguODkwNjI1IEM5NC4x%0D%0ANTg4NTIxLDI4LjI4NjQ1NTMgOTMuOTUzMTI1LDI3LjU2NzcxMjUgOTMuOTUzMTI1LDI2LjczNDM3%0D%0ANSBDOTMuOTUzMTI1LDI1LjM0ODk1MTQgOTQuNTM5MDU2NiwyNC4xNzcwODgxIDk1LjcxMDkzNzUs%0D%0AMjMuMjE4NzUgQzk2Ljg4MjgxODQsMjIuMjYwNDExOSA5OC4zODAxOTkyLDIxLjc4MTI1IDEwMC4y%0D%0AMDMxMjUsMjEuNzgxMjUgQzEwMi4xMTk4MDEsMjEuNzgxMjUgMTAzLjY3NDQ3MywyMi4yNzYwMzY3%0D%0AIDEwNC44NjcxODgsMjMuMjY1NjI1IEMxMDYuMDU5OTAyLDI0LjI1NTIxMzMgMTA2LjY1NjI1LDI1%0D%0ALjUyMDgyNTYgMTA2LjY1NjI1LDI3LjA2MjUgTDEwMy43NSwyNy4wNjI1IEMxMDMuNzUsMjYuMjcw%0D%0AODI5NCAxMDMuNDE0MDY2LDI1LjU4ODU0NDUgMTAyLjc0MjE4OCwyNS4wMTU2MjUgQzEwMi4wNzAz%0D%0AMDksMjQuNDQyNzA1NSAxMDEuMjIzOTYzLDI0LjE1NjI1IDEwMC4yMDMxMjUsMjQuMTU2MjUgQzk5%0D%0ALjE1MTAzNjQsMjQuMTU2MjUgOTguMzI4MTI4LDI0LjM4NTQxNDQgOTcuNzM0Mzc1LDI0Ljg0Mzc1%0D%0AIEM5Ny4xNDA2MjIsMjUuMzAyMDg1NiA5Ni44NDM3NSwyNS45MDEwMzggOTYuODQzNzUsMjYuNjQw%0D%0ANjI1IEM5Ni44NDM3NSwyNy4zMzg1NDUyIDk3LjExOTc4ODksMjcuODY0NTgxNiA5Ny42NzE4NzUs%0D%0AMjguMjE4NzUgQzk4LjIyMzk2MTEsMjguNTcyOTE4NCA5OS4yMjEzNDcsMjguOTExNDU2NyAxMDAu%0D%0ANjY0MDYyLDI5LjIzNDM3NSBDMTAyLjEwNjc3OCwyOS41NTcyOTMzIDEwMy4yNzYwMzcsMjkuOTQy%0D%0ANzA2MSAxMDQuMTcxODc1LDMwLjM5MDYyNSBDMTA1LjA2NzcxMywzMC44Mzg1NDM5IDEwNS43MzE3%0D%0ANjksMzEuMzc3NjAxIDEwNi4xNjQwNjIsMzIuMDA3ODEyNSBDMTA2LjU5NjM1NiwzMi42MzgwMjQg%0D%0AMTA2LjgxMjUsMzMuNDA2MjQ1NSAxMDYuODEyNSwzNC4zMTI1IEMxMDYuODEyNSwzNS44MjI5MjQy%0D%0AIDEwNi4yMDgzMzksMzcuMDMzODQ5NiAxMDUsMzcuOTQ1MzEyNSBDMTAzLjc5MTY2MSwzOC44NTY3%0D%0ANzU0IDEwMi4yMjM5NjgsMzkuMzEyNSAxMDAuMjk2ODc1LDM5LjMxMjUgQzk4Ljk0MjcwMTYsMzku%0D%0AMzEyNSA5Ny43NDQ3OTY5LDM5LjA3MjkxOTEgOTYuNzAzMTI1LDM4LjU5Mzc1IEM5NS42NjE0NTMx%0D%0ALDM4LjExNDU4MDkgOTQuODQ2MzU3MSwzNy40NDUzMTY4IDk0LjI1NzgxMjUsMzYuNTg1OTM3NSBD%0D%0AOTMuNjY5MjY3OSwzNS43MjY1NTgyIDkzLjM3NSwzNC43OTY4OCA5My4zNzUsMzMuNzk2ODc1IEw5%0D%0ANi4yNjU2MjUsMzMuNzk2ODc1IEM5Ni4zMTc3MDg2LDM0Ljc2NTYyOTggOTYuNzA1NzI1NSwzNS41%0D%0AMzM4NTEzIDk3LjQyOTY4NzUsMzYuMTAxNTYyNSBDOTguMTUzNjQ5NSwzNi42NjkyNzM3IDk5LjEw%0D%0AOTM2OTEsMzYuOTUzMTI1IDEwMC4yOTY4NzUsMzYuOTUzMTI1IEMxMDEuMzkwNjMsMzYuOTUzMTI1%0D%0AIDEwMi4yNjgyMjYsMzYuNzMxNzczIDEwMi45Mjk2ODgsMzYuMjg5MDYyNSBDMTAzLjU5MTE0OSwz%0D%0ANS44NDYzNTIgMTAzLjkyMTg3NSwzNS4yNTUyMTIgMTAzLjkyMTg3NSwzNC41MTU2MjUgWiBNMTEz%0D%0ALjQ2ODc1LDI0LjE0MDYyNSBDMTE0Ljc1MDAwNiwyMi41Njc3MDA1IDExNi40MTY2NTYsMjEuNzgx%0D%0AMjUgMTE4LjQ2ODc1LDIxLjc4MTI1IEMxMjIuMDQxNjg1LDIxLjc4MTI1IDEyMy44NDM3NSwyMy43%0D%0AOTY4NTQ4IDEyMy44NzUsMjcuODI4MTI1IEwxMjMuODc1LDM5IEwxMjAuOTg0Mzc1LDM5IEwxMjAu%0D%0AOTg0Mzc1LDI3LjgxMjUgQzEyMC45NzM5NTgsMjYuNTkzNzQzOSAxMjAuNjk1MzE1LDI1LjY5Mjcx%0D%0AMTIgMTIwLjE0ODQzOCwyNS4xMDkzNzUgQzExOS42MDE1NiwyNC41MjYwMzg4IDExOC43NTAwMDYs%0D%0AMjQuMjM0Mzc1IDExNy41OTM3NSwyNC4yMzQzNzUgQzExNi42NTYyNDUsMjQuMjM0Mzc1IDExNS44%0D%0AMzMzMzcsMjQuNDg0MzcyNSAxMTUuMTI1LDI0Ljk4NDM3NSBDMTE0LjQxNjY2MywyNS40ODQzNzc1%0D%0AIDExMy44NjQ1ODUsMjYuMTQwNjIwOSAxMTMuNDY4NzUsMjYuOTUzMTI1IEwxMTMuNDY4NzUsMzkg%0D%0ATDExMC41NzgxMjUsMzkgTDExMC41NzgxMjUsMTUgTDExMy40Njg3NSwxNSBMMTEzLjQ2ODc1LDI0%0D%0ALjE0MDYyNSBaIE0xMjcuNDM3NSwzMC4zOTA2MjUgQzEyNy40Mzc1LDI4LjczNDM2NjcgMTI3Ljc2%0D%0AMzAxOCwyNy4yNDQ3OTgzIDEyOC40MTQwNjIsMjUuOTIxODc1IEMxMjkuMDY1MTA3LDI0LjU5ODk1%0D%0AMTcgMTI5Ljk3MTM0OCwyMy41NzgxMjg2IDEzMS4xMzI4MTIsMjIuODU5Mzc1IEMxMzIuMjk0Mjc3%0D%0ALDIyLjE0MDYyMTQgMTMzLjYxOTc4NCwyMS43ODEyNSAxMzUuMTA5Mzc1LDIxLjc4MTI1IEMxMzcu%0D%0ANDExNDcsMjEuNzgxMjUgMTM5LjI3MzQzLDIyLjU3ODExNyAxNDAuNjk1MzEyLDI0LjE3MTg3NSBD%0D%0AMTQyLjExNzE5NSwyNS43NjU2MzMgMTQyLjgyODEyNSwyNy44ODU0MDM0IDE0Mi44MjgxMjUsMzAu%0D%0ANTMxMjUgTDE0Mi44MjgxMjUsMzAuNzM0Mzc1IEMxNDIuODI4MTI1LDMyLjM4MDIxNjYgMTQyLjUx%0D%0AMzAyNCwzMy44NTY3NjQzIDE0MS44ODI4MTIsMzUuMTY0MDYyNSBDMTQxLjI1MjYwMSwzNi40NzEz%0D%0ANjA3IDE0MC4zNTE1NjgsMzcuNDg5NTc5NyAxMzkuMTc5Njg4LDM4LjIxODc1IEMxMzguMDA3ODA3%0D%0ALDM4Ljk0NzkyMDMgMTM2LjY2MTQ2NiwzOS4zMTI1IDEzNS4xNDA2MjUsMzkuMzEyNSBDMTMyLjg0%0D%0AODk0NywzOS4zMTI1IDEzMC45OTIxOTUsMzguNTE1NjMzIDEyOS41NzAzMTIsMzYuOTIxODc1IEMx%0D%0AMjguMTQ4NDMsMzUuMzI4MTE3IDEyNy40Mzc1LDMzLjIxODc2MzEgMTI3LjQzNzUsMzAuNTkzNzUg%0D%0ATDEyNy40Mzc1LDMwLjM5MDYyNSBaIE0xMzAuMzQzNzUsMzAuNzM0Mzc1IEMxMzAuMzQzNzUsMzIu%0D%0ANjA5Mzg0NCAxMzAuNzc4NjQxLDM0LjExNDU3NzcgMTMxLjY0ODQzOCwzNS4yNSBDMTMyLjUxODIz%0D%0ANCwzNi4zODU0MjIzIDEzMy42ODIyODQsMzYuOTUzMTI1IDEzNS4xNDA2MjUsMzYuOTUzMTI1IEMx%0D%0AMzYuNjA5MzgyLDM2Ljk1MzEyNSAxMzcuNzc2MDM3LDM2LjM3NzYwOTkgMTM4LjY0MDYyNSwzNS4y%0D%0AMjY1NjI1IEMxMzkuNTA1MjEzLDM0LjA3NTUxNTEgMTM5LjkzNzUsMzIuNDYzNTUyIDEzOS45Mzc1%0D%0ALDMwLjM5MDYyNSBDMTM5LjkzNzUsMjguNTM2NDQ5MSAxMzkuNDk3NCwyNy4wMzM4NTk5IDEzOC42%0D%0AMTcxODgsMjUuODgyODEyNSBDMTM3LjczNjk3NSwyNC43MzE3NjUxIDEzNi41Njc3MTYsMjQuMTU2%0D%0AMjUgMTM1LjEwOTM3NSwyNC4xNTYyNSBDMTMzLjY4MjI4NSwyNC4xNTYyNSAxMzIuNTMxMjU0LDI0%0D%0ALjcyMzk1MjcgMTMxLjY1NjI1LDI1Ljg1OTM3NSBDMTMwLjc4MTI0NiwyNi45OTQ3OTczIDEzMC4z%0D%0ANDM3NSwyOC42MTk3ODExIDEzMC4zNDM3NSwzMC43MzQzNzUgWiBNMTYwLjczNDM3NSwzMC43MzQz%0D%0ANzUgQzE2MC43MzQzNzUsMzMuMzA3MzA0NSAxNjAuMTQ1ODM5LDM1LjM4MDIwMDUgMTU4Ljk2ODc1%0D%0ALDM2Ljk1MzEyNSBDMTU3Ljc5MTY2MSwzOC41MjYwNDk1IDE1Ni4xOTc5MjcsMzkuMzEyNSAxNTQu%0D%0AMTg3NSwzOS4zMTI1IEMxNTIuMTM1NDA2LDM5LjMxMjUgMTUwLjUyMDgzOSwzOC42NjE0NjQ4IDE0%0D%0AOS4zNDM3NSwzNy4zNTkzNzUgTDE0OS4zNDM3NSw0NS41IEwxNDYuNDUzMTI1LDQ1LjUgTDE0Ni40%0D%0ANTMxMjUsMjIuMDkzNzUgTDE0OS4wOTM3NSwyMi4wOTM3NSBMMTQ5LjIzNDM3NSwyMy45Njg3NSBD%0D%0AMTUwLjQxMTQ2NCwyMi41MTA0MDk0IDE1Mi4wNDY4NjUsMjEuNzgxMjUgMTU0LjE0MDYyNSwyMS43%0D%0AODEyNSBDMTU2LjE3MTg4NSwyMS43ODEyNSAxNTcuNzc4NjQsMjIuNTQ2ODY3MyAxNTguOTYwOTM4%0D%0ALDI0LjA3ODEyNSBDMTYwLjE0MzIzNSwyNS42MDkzODI3IDE2MC43MzQzNzUsMjcuNzM5NTY5NyAx%0D%0ANjAuNzM0Mzc1LDMwLjQ2ODc1IEwxNjAuNzM0Mzc1LDMwLjczNDM3NSBaIE0xNTcuODQzNzUsMzAu%0D%0ANDA2MjUgQzE1Ny44NDM3NSwyOC40OTk5OTA1IDE1Ny40Mzc1MDQsMjYuOTk0Nzk3MiAxNTYuNjI1%0D%0ALDI1Ljg5MDYyNSBDMTU1LjgxMjQ5NiwyNC43ODY0NTI4IDE1NC42OTc5MjQsMjQuMjM0Mzc1IDE1%0D%0AMy4yODEyNSwyNC4yMzQzNzUgQzE1MS41MzEyNDEsMjQuMjM0Mzc1IDE1MC4yMTg3NTQsMjUuMDEw%0D%0ANDA4OSAxNDkuMzQzNzUsMjYuNTYyNSBMMTQ5LjM0Mzc1LDM0LjY0MDYyNSBDMTUwLjIwODMzOCwz%0D%0ANi4xODIyOTk0IDE1MS41MzEyNDEsMzYuOTUzMTI1IDE1My4zMTI1LDM2Ljk1MzEyNSBDMTU0LjY5%0D%0ANzkyNCwzNi45NTMxMjUgMTU1Ljc5OTQ3NSwzNi40MDM2NTEzIDE1Ni42MTcxODgsMzUuMzA0Njg3%0D%0ANSBDMTU3LjQzNDksMzQuMjA1NzIzNyAxNTcuODQzNzUsMzIuNTcyOTI3NSAxNTcuODQzNzUsMzAu%0D%0ANDA2MjUgWiIgaWQ9ImxvZ28iPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==);
	flex-shrink: 0;
	height: 30.5px;
	width: 140.73px;
}

.header-nav {
	margin-left: 92.7px;
	a {
		color: $dark;
		cursor: pointer;
		font-weight: 500;
		height: 19px;
		line-height: 19px;
		text-transform: capitalize;
		user-select: none;
	}
	.header-nav__home {
		margin-right: 39px;
		width: 43px;
	}
	.header-nav__shoes {
		margin-right: 38px;
		width: 45px;
	}
	.header-nav__tshirts {
		margin-right: 36px;
		width: 56px;
	}
	.header-nav__accesories {
		width: 80px;
	}
}

.burger-menu {
	background-color: initial;
	border: none;
	display: none;
	flex-direction: column;
	height: 20px;
	justify-content: space-between;
	margin: 0;
	outline: none;
	width: 22px;
	i {
		background-color: $dark;
		border-radius: 2px;
		height: 4px;
		width: 22px;
	}
}

.burger-menu-close {
	background-color: initial;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMThweCIg%0D%0AaGVpZ2h0PSIxOHB4IiB2aWV3Qm94PSIwIDAgMTggMTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0%0D%0AdHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcv%0D%0AMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogc2tldGNodG9vbCA1Mi4xICg2NzA0OCkg%0D%0ALSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+CiAgICA8dGl0bGU+QzRB%0D%0ANTgwRkMtRUU2My00NjBBLUJCRkYtMTJFQzUzNDAwMjE5PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0%0D%0AZWQgd2l0aCBza2V0Y2h0b29sLjwvZGVzYz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9u%0D%0AZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAg%0D%0AICAgIDxnIGlkPSI0LW1vYmlsZS1idXJnZXIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yNzcuMDAw%0D%0AMDAwLCAtMjAuMDAwMDAwKSIgZmlsbD0iIzIwMjg0MCIgZmlsbC1ydWxlPSJub256ZXJvIj4KICAg%0D%0AICAgICAgICAgPGcgaWQ9ImJ1cmdlci1jbG9zZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjc1LjAw%0D%0AMDAwMCwgMTkuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICA8cmVjdCBpZD0iUmVjdGFuZ2xlIiB0%0D%0AcmFuc2Zvcm09InRyYW5zbGF0ZSgxMS4wMDAwMDAsIDEwLjAwMDAwMCkgcm90YXRlKC0zMTUuMDAw%0D%0AMDAwKSB0cmFuc2xhdGUoLTExLjAwMDAwMCwgLTEwLjAwMDAwMCkgIiB4PSIwIiB5PSI4IiB3aWR0%0D%0AaD0iMjIiIGhlaWdodD0iNCIgcng9IjIiPjwvcmVjdD4KICAgICAgICAgICAgICAgIDxyZWN0IGlk%0D%0APSJSZWN0YW5nbGUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDExLjE5MjM4OCwgMTAuMTkyMzg4KSBz%0D%0AY2FsZSgtMSwgMSkgcm90YXRlKC0zMTUuMDAwMDAwKSB0cmFuc2xhdGUoLTExLjE5MjM4OCwgLTEw%0D%0ALjE5MjM4OCkgIiB4PSIwLjE5MjM4ODE1NSIgeT0iOC4xOTIzODgxNiIgd2lkdGg9IjIyIiBoZWln%0D%0AaHQ9IjQiIHJ4PSIyIj48L3JlY3Q+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8%0D%0AL2c+Cjwvc3ZnPg==);
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
	border: none;
	display: none;
	flex-shrink: 0;
	height: 20px;
	margin: 0;
	outline: none;
	width: 22px;
}

@media screen and (max-width: 320px) {
	body {
		overflow: hidden;
	}
	.header {
		padding: 0 $global-padding-mobile;
		min-width: 0;
		width: 100%;
		.header__container {
			justify-content: space-between;
			margin: 0;
			.header__container__nav {
				align-items: flex-start;
				height: calc(100% - 60px);
				flex-direction: column;
				flex-shrink: 0;
				left: 0;
				position: absolute;
				top: 60px;
				width: 100%;
				z-index: 2;
				div {
					background-color: white;
					display: flex;
					flex-shrink: 0;
					justify-content: space-between;
					margin-left: 0;
					padding: 50px 20px 22px;
					width: 100%;
					> * {
						width: 130px;
					}
				}
				&::after {
					background-color: $dark;
					content: '';
					height: 100%;
					opacity: 0.8;
					width: 100%;
					z-index: 2;
				}
			}
		}
		.button--header-register {
			margin-right: 0;
			margin-left: 0;
		}
		.button--header-login {

		}
	}
	.burger-menu {
		display: flex;
	}
	.header-nav {
		background-color: white;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		margin-left: 0;
		padding: 0 20px;
		width: 100%;
		a {
			cursor: default;
		}
		.header-nav__home {
			margin-right: 0;
			margin-top: 45px;
			width: 43px;
		}
		.header-nav__shoes {
			margin-right: 0;
			margin-top: 30px;
			width: 45px;
		}
		.header-nav__tshirts {
			margin-right: 0;
			margin-top: 30px;
			width: 56px;
		}
		.header-nav__accesories {
			width: 80px;
			margin-top: 30px;
		}
	}
}