.main {
	display: flex;
	min-width: 1440px;
	padding: 0 $global-padding;
	.main__left {
		margin-right: 22px;
		width: 355px;
		height: 100%;
		.main__left__slogan {
			color: $dark;
			font-size: 62px;
			font-weight: bold;
			height: 146px;
			line-height: 73px;
			margin-top: 140px;
			text-align: left;
			width: 100%;
		}
		.main__left__nav {
			display: flex;
			flex-direction: column;
			height: 168px;
			margin-top: 62px;
			a {
				align-items: center;
				cursor: pointer;
				display: flex;
				font-size: 18px;
				line-height: 56px;
				&:first-child {
					&::before {
						border-left: 4px solid $pink;
						content: "";
						height: 28px;
						margin-right: 10px; 
					}
				}
			}
		}
	}
	.main__right {
		height: 100%;
		position: relative;
		width: 683px;
		.main__right__shoe {
			background-image: url('../../Images/1.png');
			background-position: center;
			background-repeat: no-repeat;
			height: 500px;
			left: 0;
			position: absolute;
			top: 0;
			width: 500px;
			z-index: 1;
		}
		.main__right__background {
			background-color: rgba(235,103,99,0.2);
			height: 402px;
			left: 168px;
			position: absolute;
			top: 129px;
			width: 408px;
		}
		.main__right__info {
			color: $dark;
			display: flex;
			flex-direction: column;
			position: absolute;
			right: 0;
			top: 321px;
			width: 300px;
			h3 {
				font-size: 48px;
				height: 49px;
				line-height: 49px;
				margin-bottom: 15px;
				width: 299px;
			}
			p {
				line-height: 24px;
				margin-bottom: 27px;
			}
			.button--main-info {
				background-color: $pink;
				color: white;
			}
		}

	}
}